<section class="books">
  <img src="/images/{{book.filename}}" alt="{{book.description}}">
  <div class="painting-details">
    <h3>{{book.title}}</h3>
    <p>By: {{book.author}}</p>
  </div>
</section>