{{!-- <div class="list-title">
            <h2 class="booklist-title">List of Books</h2>
        </div>
        <div class="booklist">
            <ul>
                <li class="listitems"><h4>Odissey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
                <li class="listitems"><h4>The Iliad and the Oddysey by Homer</h4></li>
            </ul>
        </div> --}}

{{!-- <h3 class="all-books">{{book.title}}</h3> --}}

<section class="flex-row justify-center">
    {{#each books as |book|}}
    {{> book-brief}}
    {{/each}}
</section>
</section>